<head></head>
<body>
    <div class="out-container-home">
        <div class="middle top">
            <h1 class="heading">Experiences curated for you <br> by you</h1>
            <% unless user_signed_in? %>
            <a class="signup-button"> <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %> </a>
            <% end %>
        </div>
        <div>
            <h3 class="sub-heading">Upcoming Experiences</h3>
        </div>
        <div class="middle bottom">
            <% @listings.each do |listing|  %>
                <div class="card-container"> 
                    <%= listing.images.attached? ? (image_tag listing.images.first , alt: 'image', class: "card-image") : (image_tag 'doggo_image.jpg', alt: 'default-image', class: "card-image")%>
                    <h3 class="card-title"> <%= listing.title %> </h3>
                    <h5 class="card-location"> <%= listing.location%> </h5>
                    <%= link_to "More", listing_path(listing), class: "card-show" %>
                </div>
            <% end %>
        </div>
    </div>
</body>
